.page-title {
	position: relative;
	width: 80%;
	margin: 60px 10%;
	font-size: 80px;
	font-weight: 800;
	@media screen and (max-width: 550px) {
		font-size: 60px;
	@media screen and (max-width: 400px) {
		font-size: 50px;
	}

	&__tagline {
		position: absolute;
		right: 5px;
		bottom: -50px;
		font-size: 16px;
		font-weight: 100;
		color: grey;
		@media screen and (max-width: 400px) {
			font-size: 12px;
			left: 5px;
			bottom: -12px;
		}
	}
.header {
	@include box-model(100%, 50%, 6px, 0);
	background: url(../dieter.jpg) center center no-repeat;
	background-size: cover;
	text-align: right;
	font-size: 14px;
  color: black;
  @media (max-width: 550px){
    font-size: 12px;
  }
}
.grid {
	position: fixed;
	z-index: -1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	&__line {
		width: 10%;
		height: 100%;
		float: left;
		border-right: 1px dotted #eee;
		&:nth-child(1) {
			border-left: 1px dotted #eee;
		}
		@media screen and (max-width: 550px) {
			&:nth-child(2n) {
				border: none;
			}
		}
	}
}
.principle {
  @include box-model(80%, 500px, 10px, 0 auto);
  border-top: 4px solid black;
  position: relative;

  &__title {
    font-size: 44px;

    @media screen and (max-width: 955px) {
      font-size: 36px;
    }

    &--right {
      float: right;
    }
  }

  &__passage {
    font-size: 22px;
    width: 50%;
    margin-top: 65px;
    text-align: right;
    position: absolute;
    right: 39%;
    z-index: 5;

    @media screen and (max-width: 955px) {
      width: 100%;
      position: static;
      text-align: left;
    }
  }

  &__image {
    height: 100%;
    position: absolute;
    right: 12.5%;
    top: 25%;
    opacity: 0.6;

    @media screen and (max-width: 955px) {
      display: none;
    }

    img {
      height: 288px;
    }
  }

  &__credit {
    font-size: 12px;
    font-weight: 800;
    position: absolute;
    right: 10%;
    bottom: 18%;
    transform-origin: right top 0;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);

    @media screen and (max-width: 955px) {
      display: none;
    }
  }
}
.stamp {
	position: fixed;
	top: calc(50% + 50px);
	width: 100px;
	font-weight: 100;
	font-size: 16px;
	text-align: center;
	color: black;
	@media screen and (max-width: 550px) {
		display: none;
	}

	&--left {
		left: 2.5%;
		transform-origin: left top 0;
		transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-webkit-transform: rotate(-90deg);
	}

	&--right {
		right: 2.5%;
		transform-origin: right top 0;
		transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
	}
a {
    text-decoration: underline;
    color: grey;
    &:focus,
    &:active {
        outline: none;
    }
    &:hover {
        color: black;
    }
    body {
    	border-top: 8px solid black;
    	@include box-model(100%, 100%, 0, 0 auto);
    }

    html {
	color: black;
	@include box-model(100%, 100%, 0, 0);
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
@import "tools/_box-model.scss";

//generic
@import "generic/_normalize.scss";
@import "generic/_box-sizing.scss";

//elements
@import "elements/_html.scss";
@import "elements/_body.scss";
@import "elements/_anchor.scss";

//components
@import "components/_header.scss";
@import "components/_page-title.scss";
@import "components/_stamp.scss";
@import "components/_principle.scss";
@import "components/_grid.scss";

/*! normalize.css v1.1.0 | MIT License | git.io/normalize */article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:active,a:hover{outline:0}h1{font-size:2em;margin:0.67em 0}h2{font-size:1.5em;margin:0.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:0.83em;margin:1.67em 0}h6{font-size:0.67em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}mark{background:#ff0;color:#000}p,pre{margin:1em 0}code,kbd,pre,samp{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible}button[disabled],html input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}*{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}html{color:black;width:100%;height:100%;padding:0;margin:0}body{border-top:8px solid black;width:100%;height:100%;padding:0;margin:0 auto}a{text-decoration:underline;color:grey}a:focus,a:active{outline:none}a:hover{color:black}.header{width:100%;height:50%;padding:6px;margin:0;background:url(../dieter.jpg) center center no-repeat;background-size:cover;text-align:right;font-size:14px;color:black}@media (max-width: 550px){.header{font-size:12px}}.page-title{position:relative;width:80%;margin:60px 10%;font-size:80px;font-weight:800}@media screen and (max-width: 550px){.page-title{font-size:60px}}@media screen and (max-width: 400px){.page-title{font-size:50px}}.page-title__tagline{position:absolute;right:5px;bottom:-50px;font-size:16px;font-weight:100;color:grey}@media screen and (max-width: 400px){.page-title__tagline{font-size:12px;left:5px;bottom:-12px}}.stamp{position:fixed;top:calc(50% + 50px);width:100px;font-weight:100;font-size:16px;text-align:center;color:black}@media screen and (max-width: 550px){.stamp{display:none}}.stamp--left{left:2.5%;transform-origin:left top 0;transform:rotate(-90deg);-ms-transform:rotate(-90deg);-webkit-transform:rotate(-90deg)}.stamp--right{right:2.5%;transform-origin:right top 0;transform:rotate(90deg);-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg)}.principle{width:80%;height:500px;padding:10px;margin:0 auto;border-top:4px solid black;position:relative}.principle__title{font-size:44px}@media screen and (max-width: 955px){.principle__title{font-size:36px}}.principle__title--right{float:right}.principle__passage{font-size:22px;width:50%;margin-top:65px;text-align:right;position:absolute;right:39%;z-index:5}@media screen and (max-width: 955px){.principle__passage{width:100%;position:static;text-align:left}}.principle__image{height:100%;position:absolute;right:12.5%;top:25%;opacity:0.6}@media screen and (max-width: 955px){.principle__image{display:none}}.principle__image img{height:288px}.principle__credit{font-size:12px;font-weight:800;position:absolute;right:10%;bottom:18%;transform-origin:right top 0;transform:rotate(90deg);-ms-transform:rotate(90deg);-webkit-transform:rotate(90deg)}@media screen and (max-width: 955px){.principle__credit{display:none}}.grid{position:fixed;z-index:-1;top:0;right:0;bottom:0;left:0}.grid__line{width:10%;height:100%;float:left;border-right:1px dotted #eee}.grid__line:nth-child(1){border-left:1px dotted #eee}@media screen and (max-width: 550px){.grid__line:nth-child(2n){border:none}}
@mixin box-model($width, $height, $padding, $margin){
  width: $width;
  height: $height;
  padding: $padding;
  margin: $margin;
}
